@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;500;600;700;800&display=swap');


body{
    font-family: 'Didact Gothic', sans-serif;
}

.jumbotron{
    margin-bottom: 0;
}

.jumb{
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.466);
    background-image: url(../img/obbg.png);
    background-blend-mode: darken;
    background-color: rgba(3, 5, 3, 0.473);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 80px 50px;
}

.heading{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.description{
    font-size: 18px;margin-bottom: 30px;
}

.feturesAbs{
    position: absolute;

}

.fet{
    padding: 20px;
    color: white;
}

.fet-blue{
    background-color: #045CFF;
}

.fet-gray{
    background-color: #131D36;
}

.fet-skin{
    background-color: #F5CA99;
}

.card-feature-title{
    color: #976d3c;

}

.card-feature-text{
    color: #857868;
}


/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

@media (min-width:600px){
    .jumb{
        padding-top: 60px;
        padding-bottom: 60px;
        padding: 80px 150px;
    }
    .heading{
        font-size: 40px;
    }
    .description{
        font-size: 18px;
    }
}

@media (max-width:670px){
    .rounded-start{
        margin-left: 35px;
        width: 30%;
    }
    
}

@media (min-width:1000px){
    .jumb{
        padding-top: 100px;
        padding-bottom: 100px;
        padding: 100px 300px;
    }
    .heading{
        font-size: 40px;
    }
    .description{
        font-size: 18px;
    }
}

@media (min-width:1200px){
    .jumb{
        padding: 100px 400px;
    }
}

@media (min-width:1300px){
    .jumb{
        padding: 100px 480px;
    }
}